.form, .label {
  display: flex;
  flex-direction: column;
}

.label {
  color: rgb(151, 158, 166);
  margin-bottom: 28px;
}

.input {
  border-radius: 60px;
}

.input, .textarea {
  margin-top: 4px;
  padding: 16px;
  background-color: rgb(245, 247, 249);
  font-family: Inter-Medium, sans-serif;
  font-size: 16px;
  &::placeholder {
    font-family: Inter-Medium, sans-serif;
    font-size: 16px;
    color: rgb(151, 158, 166);
  }
}

.textarea {
  border-radius: 25px;
}

.submit-btn {
  font-family: Inter-Medium, sans-serif;
  font-size: 16px;
  background-color: rgb(245, 247, 249);
  color: rgb(151, 158, 166);
  border-radius: 60px;
  cursor: pointer;
  padding: 16px;
  pointer-events: none;
  position: relative;
  &--active {
    pointer-events: initial;
    background-color: rgb(119, 255, 55);
    color: initial;
    transition: all .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    will-change: transform;
    &:hover {
      background: rgb(145, 255, 93);
      transform: scale(1.025) translate3d( 0, 0, 0) perspective(1px);
      transition: all .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    &:active {
      background: rgb(68, 214, 0);
      transform: scale(1);
      transition: all .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
  }
}
