html {
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  resize: none;
  outline: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px rgb(245, 247, 249) inset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(241, 241, 241);
}

.page {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter-Bold;
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-Light;
  src: url(fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(fonts/Inter-Regular.ttf);
}

@import 'variables',
'mixins',
'profile',
'modal',
'form-elements';
