.profile {
  &__container {
    @include responsive-left-right-spacing;
    padding-top: 20px;
    height: 100%;
    background-color: rgb(245, 247, 249);
    margin: 0 auto;
  }
  &__rewards {
    display: flex;
    flex-direction: column;
  }
  &__reward {
    width: 50%;
    border-radius: 50px;
    margin: 0 auto;
    padding: 28px;
    background-color: rgb(255, 255, 255);
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__reward-info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__reward-image {
    width: $rewardful-person-image-width-small;
    height: $rewardful-person-image-height-small;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 16px;
  }
  &__reward-names {
    margin-bottom: 4px;
  }
  &__reward-date {
    color: rgb(151, 158, 166);
  }
  &__reward-comment {
    font-family: Inter-Regular;
    font-size: 20px;
  }
}
