$responsive-space-small: 10vw;
$responsive-space-base: 15vw;
$responsive-space-large: 20vw;

$xs: 320px;
$sm: 700px;
$md: 1170px;
$bg: 1400px;
$lg: 1700px;

$rewardful-person-image-width-small: 52px;
$rewardful-person-image-height-small: 60px;
$rewardful-person-image-width-big: 173px;
$rewardful-person-image-height-big: 197px;
$modal-with-desktop: 505px;
