@import '../../../style/environment.scss';

.profile {
  &__container {
    @include responsive-left-right-spacing;
    padding-top: 20px;
    margin: 0 auto;
  }
  &__navigation-list-container {
    border-radius: 60px;
    margin-bottom: 16px;
  }
  &__rewards-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }
}
