@import '../../../style/environment.scss';

.modal-content {
  margin-top: 86px;
  background-color: rgb(255, 255, 255);
  padding: 32px 28px;
  border-radius: 50px;
  @include media-desktop {
    width: $modal-with-desktop;
  }
  @include media-mobile {
    width: 100%;
    padding: 0 16px;
  }
  &__header {
    font-size: 36px;
    margin-bottom: 28px;
    letter-spacing: -0.04em;
  }
}
